<nav class="header-nav">
  <ul>
    {% assign main_menu = linklists.breadcrumb.links %}
    {% for link in main_menu %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
        <ul> 
          {%- for childlink in link.links -%}
          <li>
            <a href="{{ childlink.url }}"> {{ childlink.title | escape }}</a>
             {%- for grandchildlink in link.links -%}
                <li><a href="{{ grandchildlink.url }}"> {{ grandchildlink.title | escape }}</a></li>
             {% endfor %}
          </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>