<div class="page-width p-5 ">
  {% for block in section.block %}
  <div class="card" style="width: 18rem;">
    <img src="{{ section.settings.imgtag | image_url }}" class="card-img-top" alt="..." width="" height="">
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.title }}</h5>
      <p class="card-text">{{ section.settings.subtitle }}</p>
      <a href="{{ section.settings.btnurl }}" class="btn btn-primary">{{ section.settings.btn }}</a>
    </div>
  </div>
{% endfor %}
</div>




{% schema %}
  {
    "name": "demo 1",
    "settings": [
       
    ],
    "blocks": [
      {
        "name": "Cards",
        "type": "select",
        "settings": [
          {
        "type": "image_picker",
        "id": "imgtag",
        "label": "Upload Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title Here"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Sub Title Here"
      },
      {
        "type": "url",
        "id": "btnurl",
        "label": "Button URL"
      },
      {
        "type": "text",
        "id": "btn",
        "label": "Button Label",
        "default": "Read More"
      } 
        ]
      }
    ],
    "presets": [
      {
        "name": "demo"
      }
    ]
  }
{% endschema %}