{% style %}
  .container{
    background-color: {{ section.settings.bg-color }};
    padding: {{ section.settings.padding }}px;
    margin: {{ section.settings.margin }};
  }
{% endstyle %}

<div class="container page-width">
{% capture string_with_newlines %}

{% endcapture %}

{{ string_with_newlines | newline_to_br }}


  {% assign my_array = "apples oranges peaches, plums apples, oranges, apples, oranges, peaches, plums, apples, oranges, peaches, plums" | split: ", " %}

{{ my_array.size }}

  
  <h1>{{ section.settings.maintitle }}</h1>

  <div class="row">
     
     {% for var in section.blocks %}
       <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{{ var.settings.imgtag | image_url }}" class="card-img-top" alt="..." width="" height="">
          <div class="card-body">
            <h5 class="card-title">{{ var.settings.title }}</h5>
            <p class="card-text">{{ var.settings.subtitle }}</p>
            <a href="{{ var.settings.btnurl }}" class="btn btn-primary">{{ var.settings.btn }}</a>
          </div>
        </div>
           </div>
        {% endfor %}

  </div>
 
</div>

{% schema %}
{
  "name": "demo 1",
  "settings": [
    {
      "type": "color",
      "id": "bg-color",
      "label": "BG Color"
    },
     {
      "type": "text",
      "id": "margin",
      "label": "Margin"
    },
    {
      "type": "range",
      "id": "padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "label": "Padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "name": "Cards",
      "limit": 2,
      "type": "select",
      "settings": [
        {
          "type": "image_picker",
          "id": "imgtag",
          "label": "Upload Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title Here"
        },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Sub Title Here"
        },
        {
          "type": "url",
          "id": "btnurl",
          "label": "Button URL"
        },
        {
          "type": "text",
          "id": "btn",
          "label": "Button Label",
          "default": "Read More"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "demo"
    }
  ]
}
{% endschema %}
