<div class="page-width p-5 ">
  {% for block in section.block %}
  <div class="card" style="width: 18rem;">
    <img src="{{ block.settings.imgtag | image_url }}" class="card-img-top" alt="..." width="" height="">
    <div class="card-body">
      <h5 class="card-title">{{ block.settings.title }}</h5>
      <p class="card-text">{{ block.settings.subtitle }}</p>
      <a href="{{ block.settings.btnurl }}" class="btn btn-primary">{{ block.settings.btn }}</a>
    </div>
  </div>
{% endfor %}
</div>




{% schema %}
  {
    "name": "demo 1",
    "settings": [
       
    ],
    "presets": [
      {
        "name": "demo"
      }
    ]
  }
{% endschema %}