{% style %}
  .collection-category_sec img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 100%;
  }
{% endstyle %}


<div class="page-width">
  <h1>{{ section.settings.maintitle }}</h1>
  <div class="container">
    <div class="row">
      
        {% for block in section.blocks %}
          <div class="col-md-3">
          <div class="collection-category_sec">
           <a href="{{ block.settings.url }}">
              <img src="{{ block.settings.img | image_url}}" alt="{{ page.title }}" width="" height="">
              <h2>{{ block.settings.title }}</h2>
           </a>
          </div>
        </div>
        {% endfor %}
     
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Top Category",
  "settings": [],
  "blocks": [
    {
      "name": "Collection Categories",
      "type": "select",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title"
        },
        {
          "type": "collection",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Top Category"
    }
  ]
}
{% endschema %}

{% javascript %}
document.addEventListener("DOMContentLoaded", function() {
  {% for block in section.blocks %}
    // Fetch collection data for each block
    fetch('https://studyheart.myshopify.com/admin/api/2024-01/collections/{{ block.settings.sub_collections }}.json', {
      method: 'GET',
      headers: {
        'Authorization': 'Basic ' + btoa('2f522bfa6c7b7a13d66abb73aaf3b579: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')
      }
    })
    .then(response => response.json())
    .then(data => {
      const title = data.collection.title;
      const subCollections = data.collection.metafields.custom.sub_collections;
      
      const subCollectionsContainer = document.getElementById('subCollectionsContainer{{ forloop.index }}');
      if (subCollectionsContainer) {
        const titleElement = document.createElement('h2');
        titleElement.textContent = title;
        subCollectionsContainer.appendChild(titleElement);
        
        if (subCollections && subCollections.length > 0) {
          subCollections.forEach(subCollection => {
            const subCollectionElement = document.createElement('h3');
            subCollectionElement.textContent = subCollection.title;
            subCollectionsContainer.appendChild(subCollectionElement);
          });
        } else {
          const noSubCollectionsElement = document.createElement('p');
          noSubCollectionsElement.textContent = 'No sub-collections found.';
          subCollectionsContainer.appendChild(noSubCollectionsElement);
        }
      }
    })
    .catch(error => {
      console.error('Error fetching collection:', error);
    });
  {% endfor %}
});
{% endjavascript %}
